@import './reset.css';

$accent-color: #a71931;
$functions-color: #e1e2e1;
$text-color: #1e0003;
$border-color: #faf7f7;
$theme-color: #faf7f7;
$header-height: 10%;
$mobile-padding: 15px;
$light-theme-color: #ece8e8;

@font-face {
  font-family: 'BrixSlabRegular';
  src: url('./brixslab-regular.woff');
}

body {
  font-family: 'BrixSlabRegular';
  overflow: hidden;
}

button {
  color: $text-color;
}

h1 {
  font-size: 2rem;
}

html,
body,
#root,
#root > div {
  height: 100%;
  min-height: 100%;
}

.app {
  text-align: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  align-items: center;
  header {
    background-color: $accent-color;
    height: $header-height;
    width: 100%;
    flex-shrink: 0;
    z-index: 2;
    box-shadow: 3px 3px 8px 0px #d99da1;

    z-index: 2;
  }

  .results {
    height: 100%;
    width: 100%;
    left: 0vw;
    transition: left 0.2s;
    transition-timing-function: ease-in-out;
    &--transitionoffset {
      left: -100vw;
    }
    &--list {
      overflow: hidden;
      position: relative;
      @media only screen and (min-width: 768px) {
        padding-right: 20px;
      }
    }
    overflow-x: hidden;
    overflow-y: auto;
  }

  main {
    flex-grow: 1;
    overflow: auto;
    max-width: 1024px;
    display: flex;
    width: 100%;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 3px 3px 16px 0px rgba(207, 207, 207, 1);
    box-shadow: 3px 3px 16px 0px rgba(207, 207, 207, 1);

    .list-item {
      display: flex;
      flex-direction: column;
      border-left: 12px solid white;
      &--selected {
        border-left: 12px solid $accent-color;
      }
      &--hovered {
        border-left: 12px solid $functions-color;
      }
      &-main {
        display: flex;
        font-size: 15px;
        padding: $mobile-padding;
        @media only screen and (min-width: 768px) {
          font-size: 18px;
          padding: 20px;
        }
        color: $text-color;
      }
      &__info {
        text-align: left;
        width: 100%;
        padding-left: 15px;
        &--utterance {
          transition-delay: 0.5s;
          transition: all 0.5s;
          transition-timing-function: ease-in-out;
          display: inline-block;
          color: #892929;
          margin-bottom: 10px;
          padding: 6px;
          font-size: 12px;
          background-color: #efe5e7;
          border-radius: 10px;
          &--active {
            transition: all 1s;
            transition-timing-function: ease-in-out;
            padding: 10px;
            font-size: 16px;
            color: white;
            background-color: $accent-color;
          }
          @media only screen and (min-width: 768px) {
            font-size: 14px;
            border-radius: 12px;
          }
        }
      }
      &__quantity {
        button {
          font-family: 'BrixSlabRegular';
          width: 80px;
          height: 100%;
          font-size: 14px;
          border: none;
          margin-right: -15px;
          background: #f4f4f4;
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &--title {
          font-size: 18px;
        }
      }
      &__functions {
        flex-direction: row;
        height: 0px;
        justify-content: space-evenly;
        width: 100%;
        display: flex;
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
        button {
          visibility: hidden;
        }
        &__selected {
          display: flex;
          height: 75px;
          button {
            visibility: visible;
            font-size: 26px;
            width: 100%;
            background-color: #f4f4f4;
            border: 1px solid white;
            svg {
              width: 20px;
            }
          }
        }
      }

      &-img {
        flex-basis: 140px;
        @media only screen and (min-width: 768px) {
          flex-basis: 180px;
          width: 100px;
          height: 100px;
        }
        &__bg {
          background-repeat: no-repeat;
          background-size: 110px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
          width: 75px;
          height: 75px;
          background-position: center center;
          @media only screen and (min-width: 768px) {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }

  .subview {
    width: 100vw;
    background-color: white;
    position: fixed;
    height: 100vh;
    max-width: 1024px;
    top: 10%;
    transition: transform 0.2s;
    transition-timing-function: ease-in-out;
    overflow-y: scroll;
    &__innercontainer {
      padding-bottom: 150px;
    }
    &--transitionoffset {
      transform: translateX(100vw);
    }

    &__product-info {
      @media only screen and (min-device-width: 769px) and (max-device-width: 1025px) {
        display: none;
      }
      @media only screen and (max-height: 1000px) {
        display: none;
      }
      margin: 20px;
      text-align: left;
      border-bottom: 2px solid $border-color;
      display: flex;
      h1 {
        min-height: 90px;
      }
      &__text {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      img {
        height: 20vh;
      }
    }
  }

  footer {
    flex-shrink: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    background-color: $light-theme-color;
    div {
      width: 25%;
    }
  }

  .function-button {
    cursor: pointer;
    background: none;
    border: none;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 768px) {
      width: 28%;
    }

    @media only screen and (min-width: 1024px) {
      width: 20%;
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
    svg {
      fill: #515050;
      outline: none;
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
    }
    &__small {
      width: 40%;
      display: table;
      @media only screen and (min-width: 768px) {
        width: 22%;
      }
      @media only screen and (min-width: 1024px) {
        width: 18%;
      }
      svg {
        fill: #515050;
      }
    }

    &__mic {
      display: table;
      object {
        vertical-align: middle;
        display: table-cell;
      }
    }

    &__active {
      svg {
        fill: #515050;
      }
      &-pressed {
        svg {
          fill: #ff0000;
          transform: scale(1.2);
        }
      }
    }
  }
}
